<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Find-a-Band</title>
</head>

<body>
    <header>
        <h1>Find-a-Band</h1>
        <ul>
            <li>
                <a href="bands/index">Bands</a>
            </li>
            <li>
                <a href="bands/new">Add a Band</a>
            </li>
        </ul>
    </header>
</body>

</html>