* {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjl8fG11c2ljfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60');
    background-size: 100%;
    margin: 0;
    padding: 0;
}

nav {
    display: flexbox;
    text-align: right;
    font-size: 20px;
    font-family: 'Metal Mania';
    color: black;
    background-color: rgba(152, 61, 204, 0.2);
}

input[type="submit"]:hover {
    cursor: pointer;
}

.band-members {
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(121, 73, 172, 0.15);
    border-style: solid;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: x-large;
    font-family: 'Eczar', serif;
    color: rgb(121, 73, 172)
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Metal Mania', cursive;
    justify-content: space-around;
}

.index {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-family: 'Metal Mania';
}

.band-link {
    border-style: solid;
    border-color: rgb(121, 73, 172, 0.15);
}

.info {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: 700;
    font-family: 'Metal Mania';
    align-items: center;
}

.albums {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-family: 'Metal Mania', cursive;
    font-size: xx-large;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Metal Mania';
    color: rgb(121, 73, 172)
}

.links {
    display: inline;
    padding: 20px;

}

.show-page {
    display: flex;
    flex-direction: column;
}