<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Band Index | Find-a-Band</title>
</head>
<body>
    <h1>Band Index</h1>
    <table>
        <thead>
            <th>Band Name:</th>
        </thead>
        <tbody>
            <% bands.forEach(band => { %>
                <tr>
                    <td><%= band.bandName %></td>
                    <td><a href="/bands/<%= band._id %>">DETAILS</a></td>
                </tr>
           <% }) %>
        </tbody>
    </table>
</body>
</html>